.flex-none{
  display: flex;
}

.none-block{
  display: none;
}

.none-flex{
  display: none;
}

.flex-block{
  display: flex;
}

.block-flex{
  display: block;
}

.no-padding{
  
}
.padding-no{
  padding-left: 8px;
}

@media screen and (max-width: 1314px) {
  .flex-none{
    display: none;
  }
  .none-block{
    display: block;
  }
  .none-flex{
    display: flex;
  }
  .flex-block{
    display: block;
  }
  .block-flex{
    display: flex;
  }
  .no-padding{
    padding: 0;
  }
  .padding-no{
    padding-top: 8px !important;
    padding-left: 0px !important;
  }
}